
@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One);

.un
{

	background-color: lightgreen;
	font-family: cursive;
	width: 50%

}
.input1
{
	text-align: center;
	background-color: yellow;
	
	float: left;
}
.input2
{
	text-align: center;
	background-color: orange;
	 float: left;
	 
}
.suu
{
	background-color: grey; float: left;
	font-size: 10; color: violet;

}
.ree
{

background-color: ligthblue; float: left;
	
}
.muul
{
background-color: pink; float: left;

	}

.divi
{
background-color: olive; float: left;
font-family: inherit;
	
}
